<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cursoDAgil.bd.mappers.DireccionMapper">
	<resultMap id="DireccionResultMap" type="cursoDAgil.bd.domain.Direccion">
		<id column="idDireccion" property="idDireccion" jdbcType="INTEGER" />

		<result column="calle" property="calle" jdbcType="VARCHAR" />
		<result column="numero" property="numero" jdbcType="INTEGER" />
		<result column="colonia" property="colonia" jdbcType="VARCHAR" />
		<result column="ciudad" property="ciudad" jdbcType="VARCHAR" />
		<result column="estado" property="estado" jdbcType="VARCHAR" />
		<result column="pais" property="pais" jdbcType="VARCHAR" />
		<result column="codigoPostal" property="codigoPostal" jdbcType="INTEGER" />
	</resultMap>
	<select id="obtenerDirecciones" resultMap="DireccionResultMap">
		SELECT * FROM
		DIRECCION
	</select>
	<insert id="nuevaDireccionCliente" parameterType="cursoDAgil.bd.domain.Direccion"
		useGeneratedKeys="true" keyProperty="idDireccion">
		INSERT INTO direccion(calle,
		numero,
		colonia, ciudad, estado, pais, codigoPostal)
		VALUES (#{calle},
		#{numero},
		#{colonia}, #{ciudad}, #{estado}, #{pais}, #{codigoPostal})
	</insert>
	<select id="obtenerDireccionPorId" resultMap="DireccionResultMap"
		parameterType="hashMap">
		SELECT
		dir.idDireccion,
		dir.calle,
		dir.numero,
		dir.colonia,
		dir.ciudad,
		dir.estado,
		dir.pais,
		dir.codigoPostal
		FROM
		equipo7.DIRECCION
		dir
		WHERE
		idDireccion = #{idDireccion}
	</select>
	<update id="actualizarDireccion" parameterType="cursoDAgil.bd.domain.Direccion">
		UPDATE direccion
		SET calle= #{calle}, numero =#{numero}, colonia=#{colonia}, ciudad =
		#{ciudad}, estado=#{estado}, pais=#{pais},
		codigoPostal =#{codigoPostal} WHERE idDireccion = #{idDireccion}
	</update>
	<delete id="eliminarDireccion" parameterType="hashMap">
		DELETE FROM DIRECCION WHERE idDireccion = #{idDireccion};
	</delete>
</mapper>